boto3==1.36.17
anthropic==0.45.2
jsonlines==3.1.0
openai==1.61.1
datasets==2.7.0
tenacity==8.1.0
astunparse==1.6.3
python-leetcode==1.2.1
beautifulsoup4==4.12.0
gym==0.26.2
requests==2.32.2
pytest==7.4.0
termcolor==2.3.0
scipy==1.15.1
torch
